.carousel-caption {
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  border-radius: 0.5rem;
}

ul {
  list-style: disc;
  margin-left: 1.5rem;
}

h1, h3, h4 {
  font-family: 'Segoe UI', sans-serif;
}

ul li {
  margin-bottom: 6px;
  font-size: 1rem;
}

.list-unstyled li::marker {
  content: "• ";
  color: #333;
}

