

.nav-hover {
  color: white !important;
  transition: color 0.3s ease;

}

.nav-hover:hover {
  color: #02488e !important;
  text-decoration: none;
}


.nav-hover.active {
  color: #1e4872 !important; 
}
.dropdown-toggle {
  color: white !important;
}
.dropdown-toggle:hover{
  color: #02488e !important;
}
.dropdown-toggle:active{
  color: #1e4872 !important;
}